<div class="container text-center">
  <%= image_tag 'https://png.pngtree.com/png-vector/20221118/ourmid/pngtree-network-vector-icon-people-connection-vector-illustration-flat-web-chat-vector-png-image_41035566.jpg', alt: 'My Company Logo', class: 'logo' %>
  
  <h2 class="text-center">Sign Up</h2>
  
  <div class="row"> 
    <div class="col-4"> 
    </div>
    <div class="col-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signup' }) do |f| %>
      <div class="mb-3">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
      
      <div class="mb-3">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
      
      <div class="mb-3">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>
      
      <div class="mb-3">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
      </div>
      
      <%= f.submit "Sign up", class: "btn btn-success btn-lg d-grid" %>
    <% end %>
    <p class="text-left mt-3" style="text-align: left;">
    Already have an account? 
    <%= link_to 'Sign In', new_user_session_path, class: 'link-primary' %>
    </p>  
    </div> 
      
  <div class="col-4"> 
  </div>
  </div>
</div>