<h1>Edit Project</h1>

<%= form_with model: @project, url: admin_project_path(@project), method: :put, local: true do |form| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <h4>Oops, something went wrong!</h4>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, 'Project Name' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Update Project', class: 'btn btn-primary' %>
  </div>
  <%= link_to 'Back', admin_projects_path, class: 'btn btn-secondary' %>
<% end %>

