<h1>Edit User</h1>

<%= form_with model: @user, url: admin_user_path(@user), method: :put, local: true do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>Oops, something went wrong!</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :email, 'Email' %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :admin, 'Admin' %>
    <%= form.check_box :admin %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Update User', class: 'btn btn-primary' %>
  </div>
  <%= link_to 'Back', admin_users_path, class: 'btn btn-secondary' %>
<% end %>

